<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
      <strong>Microposts</strong> <%= @user.microposts.count %>
    </td>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @micropost.present? %>
        <%= render 'shared/micropost_form' %>
      <% end %>
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
	<%=  paginate @microposts%>
      <% end %>
    </td>
    <td>
      <%= render :partial => 'shared/calendar', :locals => {:_controller => :users} %>
    </td>
  </tr>
</table>
