<h2 class="micropost">What's up?</h2>
<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.date_select :calendar_date %>
  </div>
  <div class="actions">
    <%= f.submit "Create event" %>
  </div>
<% end %>
