<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/st' %>
  </head>
  <body>
    <div class="container">
     <%= render 'layouts/head' %>
     <section class="round">
      <%= yield %>
     </section>
     <%= render 'layouts/foot' %>
    </div>
  </body>
</html>
