<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/st' %>
  </head>
  <body>
    <div class="container">
     <%= render 'layouts/head' %>
     <section class="round">
       <% flash.each do |key, value| %>
           <div class="flash <%= key %>"><%= value %></div>
       <% end %>
       <%= yield %>
     </section>
     <%= render 'layouts/foot' %>
     <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
